<html>
    <head>
        <meta charset='utf-8' /> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <title>MCU SIMULATOR</title>
        <!--<script src='/socket.io/socket.io.js'></script>-->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js'></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>
            $(function(){
                var socket=io()

                $("#input_text").keypress(function(key){
                    if(key.keyCode==13){
                        // trim : 좌우측 공백 제거
                        q = $("#input_text").val().trim()
                        socket.emit("text", q)
                    }
                })

                $('#led_on').click(function(){
                    socket.emit("led_on")
                })

                $('#led_off').click(function(){
                    socket.emit("led_off")
                })
            })
        </script>
    </head>
    <body>
        <input id="input_text" type="text">
        <br>
        <button id="led_on" type="button">led on</button>
        <button id="led_off" type="button">led off</button>
    </body>
</html>
